# ============================================================================ #
# This is the configuration file for Ghostty.
#
# DOCS:
# https://ghostty.org/docs/config
#
# CONFIG:
# $HOME/Library/Application Support/com.mitchellh.ghostty/config
#
# # Spacing around the equals sign does not matter.
# # All of these are identical:
# key=value
# key= value
# key =value
# key = value
#
# # Empty values are used to reset config keys to default.
# key =
#
# ============================================================================ #

# Window settings
window-padding-x = 16
window-padding-y = 8
resize-overlay-duration = 4s 200ms
split-divider-color = #444444
unfocused-split-opacity = 1
window-new-tab-position = end

# SPLITS
keybind = cmd+t=new_split:down
keybind = cmd+shift+t=new_split:right
keybind = alt+ctrl+t=new_tab
keybind = cmd+w=close_surface

# SCROLLBACK
# write_scrollback_file = "open"
# keybind = cmd+s=scroll_page_up

# ============================================================================ #
# NOTE: NONE OF THESE SEEM TO WORK -- THEY GIVE ERRORS
# HOME + END keys

# keybind=Home = \x1b[1~
# keybind=End = \x1b[4~

# Or:
# keybind=Home = \x1b[H
# keybind=End = \x1b[F

# Or:
# keybind=Home = \x1bOH
# keybind=End = \x1bOF

# ============================================================================ #

# LINKS - TODO: NOT CURRENTLY AVAILABLE to SET.. coming soon..
# link = \b(/[^/\s]+)+\.[a-zA-Z0-9]+\b cursor %f
# link = \b(?:/[^/\s]+|\w+/[^/\s]+)+\.[a-zA-Z0-9]+(?::\d+(?::\d+)?)?\b cursor %f
# link-url = \b(?:/[^/\s]+|\w+/[^/\s]+)+\.[a-zA-Z0-9]+(?::\d+(?::\d+)?)?\b cursor %f

# Font configuration
font-family = "MesloLGS NF Regular"
# font-family = "MesloLGS NF"
font-size = 11
font-feature = "calt"
font-feature = "liga"
font-feature = "zero"
font-thicken = true
font-thicken-strength = 20

cursor-style = bar
adjust-cursor-thickness = 1

# Theme and colors
background =   #000000
foreground =   #dddddd
cursor-color = #f5e0dc

# adjust-cell-width =

# Your palette colors (as you had them)
palette = 0=#000000
palette = 1=#FF0000
palette = 2=#00FF00
palette = 3=#FFFF00
palette = 4=#0000FF
palette = 5=#FF00FF
palette = 6=#00FFFF
palette = 7=#CCCCCC
palette = 8=#808080
palette = 9=#FF0000
palette = 10=#00FF00
palette = 11=#FFFF00
palette = 12=#0000FF
palette = 13=#FF00FF
palette = 14=#00FFFF
palette = 15=#FFFFFF
# ... etc

# ============================================================================ #

# Ghostty Terminal behavior
mouse-hide-while-typing = false
confirm-close-surface = false
macos-auto-secure-input = false
macos-secure-input-indication = false
