# This is the configuration file for Ghostty.
#
# This template file has been automatically created at the following
# path since Ghostty couldn't find any existing config files on your system:
#
#   /Users/REDACTED/Library/Application Support/com.mitchellh.ghostty/config
#
# The template does not set any default options, since Ghostty ships
# with sensible defaults for all options. Users should only need to set
# options that they want to change from the default.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

# Config syntax crash course
# # separated by equals signs.
# ==========================
# # The config file consists of simple key-value pairs,
# font-family = Iosevka
# window-padding-x = 2
#
# # Spacing around the equals sign does not matter.
# # All of these are identical:
# key=value
# key= value
# key =value
# key = value
#
# # Empty values are used to reset config keys to default.
# key =
#
# ============================================================================ #

# Window settings
# window-width = 1200
# window-height = 800
window-padding-x = 16
window-padding-y = 8
resize-overlay-duration = 4s 200ms
split-divider-color = #444444
unfocused-split-opacity = 1
window-new-tab-position = end

# SPLITS
# Keybindings for splits and tabs
# keybind = cmd+t=new_tab
# keybind = cmd+shift+t=new_split:down
# keybind = cmd+ctrl+t=new_split:right
keybind = cmd+t=new_split:down
keybind = cmd+shift+t=new_split:right
keybind = alt+ctrl+t=new_tab
keybind = cmd+w=close_surface

# SCROLLBACK
# write_scrollback_file = "open"
# keybind = cmd+s=scroll_page_up

# HOME + END keys
# option a:
# keybind=Home=\x1bOH
# keybind=End=\x1bOF
# option b:
# keybind=Home=\x1b[H
# keybind=End=\x1b[F

# LINKS - TODO: NOT CURRENTLY AVAILABLE to SET.. coming soon..
# link = \b(/[^/\s]+)+\.[a-zA-Z0-9]+\b cursor %f
# link = \b(?:/[^/\s]+|\w+/[^/\s]+)+\.[a-zA-Z0-9]+(?::\d+(?::\d+)?)?\b cursor %f
# link-url = \b(?:/[^/\s]+|\w+/[^/\s]+)+\.[a-zA-Z0-9]+(?::\d+(?::\d+)?)?\b cursor %f

# Font configuration
# font-family = "MesloLGS NF"
# font-family = "MesloLGS-NF-Regular"
font-family = "Fira Code"
font-size = 13
font-feature = "calt"
font-feature = "liga"
font-feature = "zero"
font-thicken = true
font-thicken-strength = 20

cursor-style = "bar"
adjust-cursor-thickness = 1

# Theme and colors
background =   #000000
foreground =   #dddddd
cursor-color = #f5e0dc
# adjust-cell-width =

# Your palette colors (as you had them)
palette = 0=#000000
palette = 1=#FF0000
palette = 2=#00FF00
palette = 3=#FFFF00
palette = 4=#0000FF
palette = 5=#FF00FF
palette = 6=#00FFFF
palette = 7=#CCCCCC
palette = 8=#808080
palette = 9=#FF0000
palette = 10=#00FF00
palette = 11=#FFFF00
palette = 12=#0000FF
palette = 13=#FF00FF
palette = 14=#00FFFF
palette = 15=#FFFFFF
# ... etc

# Terminal behavior
mouse-hide-while-typing = false
confirm-close-surface = false
